* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

nav {
    position: fixed;
    padding: 32px 32px;
    min-width: 100vw;
    min-height: 80px;
    background: #1f1f1f;
}

nav > a {
    vertical-align: bottom;
}

nav img {
    max-height: 48px;
    background-color: white;
}

nav ul,
nav ul li,
.spacer {
    display: inline-block;
}

.spacer {
    /* Parent width - Logo width - Menu <ul> width */
    width: calc(100% - 132px - 276px);
}

nav ul {
    margin-bottom: 15px;
}

nav ul li {
    margin-right: 20px;
}

#last-item {
    margin-right: 0px;
}

nav ul li a:link,
nav ul li a:visited {
    color: white;
}

nav ul li a:hover {
    color: rgb(229, 145, 0);
}

nav ul li a:active {
    color: rgb(92, 229, 0);
}

#current-page {
    color: aquamarine;
}

/* Dropdown */
.dropdown {
    position: relative;
}

#services-menu {
    position: absolute;
    top: 125%;
    left: 0px;
    z-index: 2;
    padding-left: 16px;
    background-color: #252525;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-2vh);
    transition: opacity 0.3s, transform 0.15s;
}

#services-menu a {
    display: block;
    white-space: nowrap;
    padding-top: 8px;
    padding-bottom: 8px;
}

.dropdown:hover #services-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/*  Header */
header {
    padding-top: 132px;
}

/* Main content */
main {
    padding: 24px;
    min-height: 1300px;
    text-align: center;
}

main h2 {
    margin-bottom: 16px;
}

article p {
    margin-top: 16px;
}

/* Footer */
footer {
    padding: 16px;
    min-height: 100px;
    text-align: center;
    background-color: #1f1f1f;
}

footer img {
    margin: 16px;
    max-height: 48px;
    background-color: white;
}

footer hr {
    border-style: solid;
    border-width: 1px;
    border-color: slategray;
}

footer p {
    margin: 16px;
    color: white;
}

.up-arrow {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 10px;

}

.up-arrow img {
    width: 50px;
    mix-blend-mode: difference;
    cursor: pointer;
}

.section1 {
    background-color: wheat;
    height: 200px;
    position: sticky;
    top: 116px;
}

.section2 {
    background-color: lightblue;
    height: 200px;
}

.section3 {
    background-color: lightgreen;
    height: 200px;
}

.section4 {
    background-color: lightpink;
    height: 200px;
    position: sticky;
    top: 316px;
}

.section5 {
    display: inline-block;
    background-color: lightcoral;
    height: 200px;
    width: 200px;

    position: sticky;
    top: 216px;
}

.section6 {
    display: inline-block;
    background-color: lightgray;
    height: 200px;
    width: 200px;

    position: sticky;
    top: 216px;
}

.section7 {
    display: inline-block;
    background-color: lightyellow;
    height: 200px;
    width: 200px;

    position: sticky;
    top: 216px;
}